<h1>List of batteries</h1>

<ul>
    <% @batteries.each do |battery| %>
        <li>
           <a href="/batteries/<%= battery.id%>"><%= battery.name %> </a>
        </li>
    <% end %>
</ul>


<form action="/batteries" method="post">
    <input type="text" name="name">
    <input type="text" name="city">
    <input type="submit">
</form>
